---
const { title } = Astro.props;
import Posthog from "./posthog.astro";
import ijLogoAlt from "../assets/logo/ijLogoAlt.png";
const pageUrl = new URL(Astro.url.pathname, import.meta.env.SITE).toString();
---
<head>
	
	<title>{title} - IJ Construction Group</title>
	
	<link rel="icon" type="image/png" href={ijLogoAlt.src} />
	<link rel="icon" type="image/x-icon" href={ijLogoAlt.src} />
	<link rel="apple-touch-icon" href={ijLogoAlt.src}>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content=`${title} - IJ Construction Group`>
	<meta property="og:description" content="IJ Construction Group, LLC, founded in 2023, is a woman/minority-owned masonry construction company dedicated to exceptional craftsmanship and strategic growth.">
	<meta property="og:image" content={ijLogoAlt.src}>
	<meta property="og:url" content={pageUrl}>
	<meta property="og:type" content="website">

	<Posthog />
	
</head>