---
const { title } = Astro.props;
import Posthog from "./posthog.astro";
import ijLogoAlt from "../assets/logo/ijLogoAlt.png";
import ijLogoAlt48x48 from "../assets/logo/ijLogoAlt48x48.png";
import ijLogoAlt96x96 from "../assets/logo/ijLogoAlt96x96.png";
import ijLogoAlt144x144 from "../assets/logo/ijLogoAlt144x144.png";
import ijLogoAlt180x180 from "../assets/logo/ijLogoAlt180x180.png";
const currentPath = Astro.url.pathname;
---
<head>
	
	<title>{title} - IJ Construction Group</title>
	
	<link rel="icon" sizes="48x48" type="image/png" href={ijLogoAlt48x48.src} />
	<link rel="icon" sizes="96x96" type="image/png" href={ijLogoAlt96x96.src} />
	<link rel="icon" sizes="144x144" type="image/png" href={ijLogoAlt144x144.src} />
	<link rel="apple-touch-icon" sizes="180x180" href={ijLogoAlt180x180.src}>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="IJ Construction Group, IJ Construction Group, LLC, Construction, Commercial Construction, Commercial, Residential Construction, Residential">
	<meta property="og:title" content=`${title} - IJ Construction Group`>
	<meta property="og:description" content="IJ Construction Group, LLC, founded in 2023, is a woman/minority-owned masonry construction company dedicated to exceptional craftsmanship and strategic growth.">
	<meta property="og:image" content={ijLogoAlt.src}>
	<meta property="og:url" content=`https://www.ijconstructiongroup.com${currentPath}`>
	<meta property="og:type" content="website">

	<Posthog />
	
</head>